---
import { z } from "zod";
import { ArrowRight, ArrowUpRight } from "lucide-solid";
import VideoCard from "../components/VideoCard.astro";
import Layout from "../layouts/Layout.astro";
import { youtubeVidToThumbnail } from "../utils";

const rawVideos = await fetch("https://wtw.dev/api/editions.json").then((res) =>
  res.json()
);

const videoValidator = z.array(
  z.object({
    number: z.number(),
    headings: z.array(
      z.object({
        depth: z.number(),
        text: z.string(),
      })
    ),
    data: z.object({
      youtube: z.object({
        url: z.string().url(),
        thumbnailUrl: z.string().url(),
      }),
    }),
  })
);

const videosWithoutTitle = videoValidator.parse(rawVideos);
const allVideos = videosWithoutTitle.map((video) => ({
  ...video,
  title:
    video.headings.find((h) => h.depth === 1)?.text ??
    `Whiteboard the web #${video.number}`,
}));
const firstThreeVideos = allVideos.slice(0, 3);
---

<Layout>
  <article class="prose">
    <h1 class="text-3xl font-heading font-bold">Ben Holmes</h1>
    <ul>
      <li>
        <a href="https://wtw.dev"
          >Whiteboardist <ArrowUpRight class="inline h-[1em]" /></a
        >
      </li>
      <li>
        <a href="https://github.com/bholmesdev"
          >Astro maintainer <ArrowUpRight class="inline h-[1em]" /></a
        >
      </li>
      <li>
        <a href="https://youtube.com/@bholmesdev"
          >Content creator <ArrowUpRight class="inline h-[1em]" /></a
        >
      </li>
      <li>
        <a href="https://twitch.tv/bholmesdev"
          >Twitch streamer <ArrowUpRight class="inline h-[1em]" /></a
        >
      </li>
    </ul>
    <p>
      Hey there! I'm Ben, a video creator and web developer from Charleston SC,
      USA.
    </p>

    <details>
      <summary>My values</summary>
      <ul>
        <li>
          <strong>Be caring:</strong> We all have different backgrounds and biases.
          Seek to understand.
        </li>
        <li>
          <strong>Be clear:</strong> Keep it brief and bulleted (like this list).
          1 minute explainers are my speciality!
        </li>
        <li>
          <strong>Be casual:</strong> Tech is scary, especially without a sense of
          humor to keep your head on straight.
        </li>
      </ul>
    </details>
  </article>
  <div
    class="grid gap-2 prose-headings:text-3xl prose-headings:font-heading prose-headings:text-2xl prose-headings:font-bold"
  >
    <h2>Shorts</h2>
    {
      firstThreeVideos.map((v) => (
        <VideoCard
          class="font-bold"
          thumbnailUrl={v.data.youtube.thumbnailUrl}
          url={v.data.youtube.url}
        >
          {v.title}
        </VideoCard>
      ))
    }
    <a class="text-center" href="https://wtw.dev"
      >More on <strong>wtw.dev</strong></a
    >
    <h2>Talks</h2>
    {
      [
        {
          title: "Opt-in design",
          url: "https://www.youtube.com/watch?v=DNbpaJfkGkY",
          conference: "useReact NYC",
        },
        {
          title: "11ty, Vite, and JAM Sandwich",
          url: "https://www.youtube.com/watch?v=CyTHEh2yyr8",
          conference: "JAMstack Conf",
        },
        {
          title: "DIY Islands Architecture with Vite",
          url: "https://www.youtube.com/watch?v=Ptqaqls2SYo",
          conference: "Vite Conf",
        },
        {
          title: "React Server Components Panel",
          url: "https://www.youtube.com/watch?v=QRVtu9_xi2k",
          conference: "Reactathon",
        },
      ].map((v) => (
        <VideoCard thumbnailUrl={youtubeVidToThumbnail(v.url)!} url={v.url}>
          <strong class="block">{v.title}</strong>{" "}
          <span class="text-red-900">{v.conference}</span>
        </VideoCard>
      ))
    }
    <h2>Posts</h2>
    {
      [
        {
          type: "external",
          title: "Unraveling the JS Meta-framework Ecosystem",
          guestPostFor: "Prismic",
          url: "https://prismic.io/blog/javascript-meta-frameworks-ecosystem",
        },
        {
          type: "external",
          title: "Svelte vs. React in 2022",
          guestPostFor: "Prismic",
          url: "https://prismic.io/blog/compare-svelte-vs-react-2022",
        },
        {
          type: "external",
          title: "Test Vite with minimal config using Vitest",
          guestPostFor: "LogRocket Blog",
          url: "https://blog.logrocket.com/testing-vite-minimal-config-using-vitest/",
        },
      ].map((p) => (
        <a href={p.url}>
          <strong>{p.title}</strong> {p.guestPostFor}
          {p.type === "external" ? (
            <ArrowUpRight class="inline h-[1em]" />
          ) : null}
        </a>
      ))
    }
  </div>
  <footer class="bg-slate-100 pt-5">
    <a href="https://github.com/bholmesdev/bholmesdev">Source code</a>
    <a href="/talks">Conference talks</a>
    <a href="mailto:hey@bholmes.dev">Email Ben</a>
  </footer>
</Layout>
